@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #050505;
  color: white;
  -webkit-font-smoothing: antialiased;
}

/* פונט Serif יוקרתי כברירת מחדל לכותרות */
h1, h2, h3 {
  font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}
